<nav class="navbar navbar-expand-sm bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"></a>
      <ul class="navbar-nav ms-auto p-1">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="register"  routerLinkActive="active">Register</a>
        </li>

        <li class="nav-item" *ngIf="!us.userLoginStatus">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>

        <li class="nav-item" *ngIf="us.userLoginStatus">
          <a class="nav-link" routerLink="login" routerLinkActive="active" (click)=userLogin()>Logout</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
        </li> 

        <li class="nav-item">
          <a class="nav-link" routerLink="addproducts" routerLinkActive="active">Adding Products</a>
        </li> 
        
      </ul>      
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


